<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>메뉴: 서비스명</title>
<link rel="stylesheet" href="../css/common/reset.css" type="text/css">
<link rel="stylesheet" href="../css/common/common.css" type="text/css">
</head>
<body>
<style>
#container li {margin-bottom:10px;}
</style>
<!-- UI Object -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<p>#header</p>
	</div>
	<!-- //header -->
	<!-- container -->
	<div id="container">
		<ul >
		   <li><a href="http://localhost:3000/index.html">메인</a></li>
		   <li><a href="http://localhost:3000/account.html">계정신청</a></li>
		   <li><a href="http://localhost:3000/mypage.html">내정보</a></li>
		   <li><a href="http://localhost:3000/analysis.html">정밀분석 메인</a></li>
		   <li><a href="http://localhost:3000/analysis_list.html">정밀분석 depth2</a></li>
		   <li><a href="http://localhost:3000/spotfire.html">정밀분석  Spotfire iFrame</a></li>
		   <li><a href="http://localhost:3000/information.html">정보사항</a></li>
		   <li><a href="http://localhost:3000/customer.html">일반_고객센터</a></li>
		   <li><a href="http://localhost:3000/information_write.html">관리자_관련기사 등록</a></li>
		   <li><a href="http://localhost:3000/customer_write.html">관리자_고객센터</a></li>
		<ul>
	</div>
	<!-- //container -->
	<!-- footer -->
	<div id="footer">
		<p>#footer</p>
	</div>
	<!-- //footer -->
</div>
<!-- //UI Object -->
</body>
</html>