<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>메뉴: 서비스명</title>
<link rel="stylesheet" href="../css/common/reset.css" type="text/css">
<link rel="stylesheet" href="../css/common/common.css" type="text/css">
</head>
<body>
<!-- UI Object -->
<div id="wrap">
	<!-- header -->
	<div id="header">
		<p>#header</p>
	</div>
	<!-- //header -->
	<!-- container -->
	<div id="container">
		<p>#container</p>
	</div>
	<!-- //container -->
	<!-- footer -->
	<div id="footer">
		<p>#footer</p>
	</div>
	<!-- //footer -->
</div>
<!-- //UI Object -->
</body>
</html>