<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="/js/libs/jquery-3.3.1.min.js"></script>
		<script src="/js/libs//masonry.pkgd.min.js"></script>
		<script src="/js/common/common.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li class="on"><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li class="on"><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">TIPin 정밀분석</h3>
				</div>
				<div class="content page-content">
					<div class="nav">
						<h4 class="content-headline">탐색트리</h4>
						<h5 class="sub-headline">TIPin</h5>
						<ul class="wrap-menu">
							<li class="menu on"><a href="#none">녹십자</a></li>
							<li class="menu child"><a href="#none">대웅제약</a></li>
							<li class="menu on child">
								<a href="#none">한미약품</a>
								<ul class="wrap-sub-menu">
									<li class="menu"><a href="#none">2뎁스1</a></li>
									<li class="menu"><a href="#none">2뎁스2</a></li>
									<li class="menu child">
										<a href="#none">2뎁스3</a>
										<ul class="wrap-sub-menu">
											<li class="menu on"><a href="#none">3뎁스1</a></li>
											<li class="menu"><a href="#none">3뎁스2</a></li>
											<li class="menu"><a href="#none">3뎁스3</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="menu"><a href="#none">제일약품</a></li>
							<li class="menu"><a href="#none">일동제약</a></li>
						</ul>
					</div>
					<!-- article -->
					<div class="article">
						<div class="wrap-scrum">
							<a href="#">TIPin</a>
							<a href="#" class="on">녹십자</a>
						</div>
						<div class="section-analysis">
							<ul class="wrap-analysis detail-tipin">
								<li class="items">
									<a href="#none">
										<div class="content-analysis">
											<div class="photo-thumb"><img src="./images/common/default.png" alt="" /></div>
											<h6 class="prd-headline">[CKD-1] 암환자·폐렴 가장 빈번하게 발생하는 감염 발생하는 감염</h6>
											<p class="prd-info">질병분류코드 C 코드. 신생물(C00-D48). 상병기호</p>
											<span class="prd-date">2018. 03. 25 오후 8:17</span>
										</div>
									</a>
								</li>
								<li class="items">
									<a href="#none">
										<div class="content-analysis">
											<div class="photo-thumb"><img src="./images/common/default.png" alt="" /></div>
											<h6 class="prd-headline">번하게 발생하는 감염 발생하는 감염</h6>
											<p class="prd-info">질병분류코드 상병기호</p>
											<span class="prd-date">2018. 03. 25 오후 8:17</span>
										</div>
									</a>
								</li>
								<li class="items">
									<a href="#none">
										<div class="content-analysis">
											<div class="photo-thumb"><img src="./images/common/default.png" alt="" /></div>
											<h6 class="prd-headline">[CKD-1] 암환자·폐렴 가장 빈번하게  감염</h6>
											<p class="prd-info">질병분류코드 C 코드. 신생물(C00-D48). 상병기호</p>
											<span class="prd-date">2018. 03. 25 오후 8:17</span>
										</div>
									</a>
								</li>
								<li class="items">
									<a href="#none">
										<div class="content-analysis">
											<div class="photo-thumb"><img src="./images/common/default.png" alt="" /></div>
											<h6 class="prd-headline">[CKD-1] 암환자·폐렴 가장 빈번하게 발생하는 감염 발생하는 감염</h6>
											<span class="prd-date">2018. 03. 25 오후 8:17</span>
										</div>
									</a>
								</li>
								<li class="items">
									<a href="#none">
										<div class="content-analysis">
											<div class="photo-thumb"><img src="./images/common/default.png" alt="" /></div>
											<h6 class="prd-headline">번하게 발생하는 감염 발생하는 감염</h6>
											<p class="prd-info">질병분류코드 상병기호</p>
											<span class="prd-date">2018. 03. 25 오후 8:17</span>
										</div>
									</a>
								</li>
								<li class="items">
									<a href="#none">
										<div class="content-analysis">
											<div class="photo-thumb"><img src="./images/common/default.png" alt="" /></div>
											<h6 class="prd-headline">[CKD-1] 암환자·폐렴 가장 빈번하게  감염</h6>
											<p class="prd-info">질병분류코드 C 코드. 신생물(C00-D48). 상병기호</p>
											<span class="prd-date">2018. 03. 25 오후 8:17</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
						
					</div><!-- //article -->
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>		
		<script>
		$('.detail-tipin').masonry({
			itemSelector: '.items',
			gutter: 20,
		});
		</script>
	</body>
</html>
