<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="/js/common/common.js"></script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">정보사항</h3>
				</div>
				<div class="section-tab">
					<div class="wrap-tab">	
						<div class="tab on"><a href="">공지사항</a></div>
						<div class="tab"><a href="">FAQ</a></div>
						<div class="tab"><a href="">문의처 정보</a></div>
					</div>
				</div>
				<div class="content page-content">
					<!-- 공지사항 // -->
					<div class="container-tab on">
						<div class="wrap-sort">
							<a href="#" class="on">전체</a>
							<a href="#">공지사항</a>
							<a href="#">업데이트</a>
						</div>
						<!-- 공지사항 리스트// -->
						<table cellspacing="0" border="1" summary="" class="tbl-type">
						<caption>공지사항</caption>
						<colgroup>
						<col width="80px"><col width="120px"><col width="*">
						<col width="12%">
						</colgroup>
						<thead>
						<tr>
						<th scope="col">번호</th>
						<th scope="col">분류</th>
						<th scope="col">제목</th>
						<th scope="col">작성일</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td class="num">5189</td>
						<td><strong class="import">공지</strong></td>
						<td class="title">포털 홈페이지 오픈</td>
						<td class="date">2019. 03. 24</td>
						</tr>
						<tr>
						<td class="num">5189</td>
						<td>공지사항</td>
						<td class="title">포털 홈페이지 오픈</td>
						<td class="date">2019. 03. 24</td>
						</tr>
						<tr>
						<td class="num">5189</td>
						<td>공지사항</td>
						<td class="title">포털 홈페이지 오픈</td>
						<td class="date">2019. 03. 24</td>
						</tr>
						</tbody>
						</table><!-- //공지사항 리스트 -->
						<div class="paginate">
							<a href="#" class="pre-end"><span class="blind">맨앞</span></a>
							<a href="#" class="pre"><span class="blind">이전</span></a>
							<a href="#">1</a>
							<strong>12</strong>
							<a href="#">13</a>
							<a href="#">14</a>
							<a href="#">15</a>
							<a href="#">16</a>
							<a href="#">17</a>
							<a href="#">18</a>
							<a href="#">19</a>
							<a href="#">20</a>
							<a href="#" class="next"><span class="blind">다음</span></a>
							<a href="#" class="next-end"><span class="blind">맨뒤</span></a>
						</div>
						<!-- 공지사항 상세// -->
						<table cellspacing="0" border="1" summary="글 내용을 표시" class="tbl-type tbl-view">
						<caption>공지사항 상세</caption>
						<colgroup>
						<col width="80"><col width="120"><col width="220">
						<col width="80"><col width="120"><col width="220">
						</colgroup>
						<thead>
						<tr>
						<th scope="row">제목</th>
						<td colspan="5" class="tit"><strong class="import">공지</strong>포털 홈페이지 오픈</td>
						</tr>
						</thead>
						<tbody>
						<tr>
						<th scope="row">분류</th>
						<td colspan="2">공지사항</td>
						<th scope="row">일시</th>
						<td colspan="2">2019. 03. 24</td>
						</tr>
						<tr>
						<td colspan="6" class="cont">
							안녕하세요. 티핑인사이트(TippingInsight)입니다.<br /><br />
							저희 티핑인사이트 포털 홈페이지를 정식으로 오픈 했습니다.<br /><br />
							많은 관심과 부탁 드립니다.<br /><br />
							감사합니다.
						</td>
						</tr>
						<tr>
						<th scope="row">이전글</th>
						<td colspan="5">이전글이 없습니다.</td>
						</tr>
						<tr class="next">
						<th scope="row">다음글</th>
						<td>공지사항</td>
						<td colspan="4">성분별 지역별 빅데이터 추가</td>
						</tr>
						</tbody>
						</table><!-- //공지사항 상세 -->
						<div class="wrap-btn">
							<a href="#" class="btn-basic">목록으로</a>
						</div>
					</div><!-- //공지사항 -->
					<!-- FAQ// -->
					<div class="container-tab">
						<div class="wrap-sort">
							<a href="#" class="on">전체</a>
							<a href="#">분류1</a>
							<a href="#">분류2</a>
						</div>
						<!-- FAQ 리스트// -->
						<table cellspacing="0" border="1" summary="" class="tbl-type tbl-faq">
						<caption>FAQ 리스트</caption>
						<colgroup>
						<col width="80px"><col width="120px"><col width="*">
						</colgroup>
						<thead>
						<tr>
						<th scope="col">번호</th>
						<th scope="col">분류</th>
						<th scope="col">제목</th>
						</tr>
						</thead>
						<tbody>
						<tr class="question on">
						<td class="num">5189</td>
						<td>분류1</td>
						<td class="title">포털 홈페이지 오픈</td>
						</tr>
						<tr class="answer on">
							<td colspan="6">안녕하세요. 티핑인사이트(TippingInsight)입니다.<br /><br />
								자주하는 질문 답변내용입니다.<br />감사합니다.
							</td>
						</tr>
						<tr class="question">
						<td class="num">5189</td>
						<td>분류1</td>
						<td class="title">포털 홈페이지 오픈</td>
						</tr>
						<tr class="answer">
							<td colspan="6">안녕하세요. 티핑인사이트(TippingInsight)입니다.<br /><br />
								자주하는 질문 답변내용입니다.<br />감사합니다.
							</td>
						</tr>
						</tbody>
						</table><!-- //공지사항 리스트 -->
					</div><!-- //FAQ -->
					<!-- 문의처 정보// -->
					<div class="container-tab">
						<div class="wrap-qna-copy">
						<h4 class=""><span class="blind">Big data Analysis Services TippinInsight</span></h4>
						<p class="sub-headcopy">심평원 보건의료 빅데이터 분석 서비스</p>
						<p class="sub-copy">의약품(제약) / 의료기기 / 치료재료 / 진단시약의 
개발 / 임상 / 마케팅 / 영업에 티핑포인트를 만들어 낼 인사이트 발굴 솔루션을 제공합니다.</p>
							<div class="box-flex line">
								<div>
									<strong class=""><span class="blind">Tippinginsight</span></strong>
								</div>
								<div>
									<strong class=""><span class="blind">call 02-6956-9008</span></strong>
									<strong class=""><span class="blind">Email info@tippinginsight.co.kr</span></strong>
								</div>
							</div>
							<div class="box-flex">
								<div class="line">
									<strong class=""><span class="blind"></span></strong>
								</div>
								<div class="line">
									<strong class=""><span class="blind"></span></strong>
								</div>
							</div>
						</div>

					</div><!-- //문의처 정보 -->
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>		
		<script>
		$('.wrap-list').masonry({
			itemSelector: '.items',
			gutter: 20,
		});
		</script>
	</body>
</html>
