<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="/js/libs/jquery-3.3.1.min.js"></script>
		<script src="/js/common/common.js"></script>
		<script src="/js/libs/masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">정보사항</h3>
				</div>
				<div class="section-tab">
					<div class="wrap-tab">	
						<div class="tab on"><a href="">공지사항</a></div>
						<div class="tab"><a href="">FAQ</a></div>
						<div class="tab"><a href="">문의처 정보</a></div>
					</div>
				</div>
				<div class="content page-content">
					<!-- 공지사항 // -->
					<div class="container-tab on">
						<h3 class="headline">공지사항 등록</h3>
					</div><!-- //공지사항 -->
					<!-- FAQ// -->
					<div class="container-tab">
						<h3 class="headline">FAQ 등록</h3>
					</div><!-- //FAQ -->
					<!-- 문의처 정보// -->
					<div class="container-tab">
						<div class="wrap-qna-copy">
							<h4 class="bg-headcopy"><span class="blind">Big data Analysis Services TippinInsight</span></h4>
							<p class="sub-headcopy">심평원 보건의료 빅데이터 분석 서비스</p>
							<p class="sub-copy">의약품(제약) / 의료기기 / 치료재료 / 진단시약의<br /> 개발 / 임상 / 마케팅 / 영업에 티핑포인트를 만들어 낼 인사이트 발굴 솔루션을 제공합니다.</p>
							<div class="box-flex line">
								<div class="bg-co-name">
									<strong><span class="blind">Tippinginsight</span></strong>
								</div>
								<div class="bg-co">
									<strong class="bg-co-call"><span class="blind">call 02-6956-9008</span></strong>
									<strong class="bg-co-emall"><span class="blind">Email info@tippinginsight.co.kr</span></strong>
								</div>
							</div>
							<div class="box-flex">
								<div class="analysys line">
									<strong class="bg-pos-analysys"><span class="blind">Data analysis Co-founder</span></strong>
									<span class="name">이범찬 대표</span>
									<ul class="info-name">
										<li>데이터분석 실장/이사</li>
										<li>010 2625 6492</li>
										<li>sherlock@tippinginsight.co.kr</li>
									</ul>
								</div>
								<div class="engineer line">
									<strong class="bg-pos-engineer"><span class="blind">Data platform Engineer, Co-founder</span></strong>
									<span class="name">한성준 이사</span>
									<ul class="info-name">
										<li>데이터플랫폼연구실장/이사</li>
										<li>010 2625 6492</li>
										<li>sjhan@tippinginsight.co.kr</li>
									</ul>
								</div>
							</div>
							<p class="legal">TiPin 사용법이나 정밀분석 등 관련 기타 문의 있으시면 편하게 연락 주시기 바랍니다.  미팅 및 외근으로 수신을 못할 경우, 카톡 또는 SMS를 남겨주시면 연락을 드리겠습니다.</p>
						</div>
					</div><!-- //문의처 정보 -->
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>		
		<script>
		$('.wrap-list').masonry({
			itemSelector: '.items',
			gutter: 20,
		});
		</script>
	</body>
</html>
