<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="/js/main/main.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-intro">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="content intro-bg">
					<div class="layer-login">
						<!-- Slider main container -->
						<div class="section-swiper">
							<div class="swiper-container login-swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<h4 class="typo-title">티핑제약 <span class="block">고객님</span></h4>
										<p class="typo-subtitle">티핑인사이트에 오신것을 환영합니다.</p>
										<p class="typo-info">티핑인사이트 공식 포털서비스 오픈</p>
										<span class="typo-date">2019.03.20</span>
									</div>
									<div class="swiper-slide">
										<h4 class="typo-title">티핑제약 <span class="block">고객님</span></h4>
										<p class="typo-subtitle">티핑인사이트에 오신것을 환영합니다.</p>
										<p class="typo-info">티핑인사이트 공식 포털서비스 오픈</p>
										<span class="typo-date">2019.03.20</span>
									</div>
								</div>
								<!-- Add Pagination -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div class="section-login">
							<h4 class="typo-hero">로그인</h4>
							<form action="" id="form-login" class="form-login">
								<fieldset>
									<legend>Login</legend>
									<div class="item">
										<label for="uid" class="blind">ID</label><input name="" type="text" value="" id="uid" class="form-text uid" placeholder="아이디"">
									</div>
									<div class="item">
										<label for="upw" class="blind">PASSWORD</label><input name="" type="password" value="" id="upw" class="form-text upw" placeholder="패스워드">
									</div>
									<button name="" type="submit" class="btn-login btn-main"><span>로그인</span></button>
									<a href="#none" class="btn-account btn-default"><span>계정신청</span></a>
								</fieldset>
							</form>
						</div>
					</div>
					<canvas class="scene scene--full" id="scene"></canvas>
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<p class="intro-copyright">©Tippinginsight</p>
			</div>
			<!-- //footer -->
		</div>
		<script type="x-shader/x-vertex" id="wrapVertexShader">
			attribute float size;
			attribute vec3 color;
			varying vec3 vColor;
			void main() {
				vColor = color;
				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				gl_PointSize = size * ( 350.0 / - mvPosition.z );
				gl_Position = projectionMatrix * mvPosition;
			}
		</script>
		<script type="x-shader/x-fragment" id="wrapFragmentShader">
			varying vec3 vColor;
			uniform sampler2D texture;
			void main(){
				vec4 textureColor = texture2D( texture, gl_PointCoord );
				if ( textureColor.a < 0.3 ) discard;
				vec4 color = vec4(vColor.xyz, 1.0) * textureColor;
				gl_FragColor = color;
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1"></script><!-- intro.js IE support cdn -->
		<script>/* intro.js IE support */
		cssVars({
			onlyVars: true,
			onComplete: function(cssText, styleNode, cssVariables, benchmark) {
			var codeElm = document.querySelector('code');
			codeElm.textContent = css_beautify(cssText);
			}
		});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script><!-- swiper cdn -->
		<script src="js/main/three.min.js"></script>
		<script src="js/main/TweenMax.min.js"></script>
		<script src="js/main/introBg.js"></script>
	</body>
</html>
