<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="/js/libs/jquery-3.3.1.min.js"></script>
		<script src="/js/common/common.js"></script>
		<script src="/js/libs//masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">정보사항</h3>
				</div>
				<div class="section-tab">
					<div class="wrap-tab">	
						<div class="tab"><a href="">사용방법</a></div>
						<div class="tab on"><a href="">관련기사</a></div>
					</div>
				</div>
				<div class="content page-content login-admin">
					<div class="container-tab">
						아직 내용을 전달 받지 못했음
					</div>
					<div class="container-tab on">
							<h3 class="headline">관련기사 등록</h3>
							<div class="form-write tbl-form">
								<form action="" method="post">
								<fieldset>
								<legend>Legend</legend>
								<table cellspacing="0" summary="표의 요약을 반드시 넣어 주세요">
								<col width="220"><col width="*">
								<tbody>
								<tr>
									<th scope="row"><label for="ody" class="headcopy">분류</label></th>
									<td>
										<div class="item">
											<select name="" id="ody" class="form-select">
												<option>분류를 선택하세요.</option>
												<option>옵션 하나</option>
												<option>옵션 둘</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="tit" class="headcopy">제목</label></th>
									<td>
										<div class="item">
											<input name="" type="text" value="" id="tit" class="form-text" placeholder="제목을 입력하세요.">
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="item form-area">
											<textarea name="" cols="50" rows="5" title="레이블 텍스트" class="text-area" placeholder="내용을 입력하세요."></textarea>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="url" class="headcopy">URL</label></th>
									<td>
										<div class="item">
											<input name="" type="text" value="" id="url" class="form-text" placeholder="URL을 입력하세요.">
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="thumb" class="headcopy">대표 이미지 등록</label></th>
									<td>
										<div class="item">
											<input name="" type="file" value="" id="thumb" class="form-file uid" placeholder="선택된 파일이 없습니다.">
										</div>
									</td>
								</tr>
								</tbody>
								</table>
							</fieldset>
							</form>
							<div class="section-button">
								<a href="#none" class="btn-basic"><span>취소</span></a>
								<button name="" type="submit" class="btn-account btn-main"><span>등록</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>
	</body>
</html>
