<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="/js/libs/jquery-3.3.1.min.js"></script>
		<script src="/js/common/common.js"></script>
		<script src="/js/libs//masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">정보사항</h3>
				</div>
				<div class="section-tab">
					<div class="wrap-tab">	
						<div class="tab"><a href="">사용방법</a></div>
						<div class="tab on"><a href="">관련기사</a></div>
					</div>
				</div>
				<div class="content page-content login-admin"><!-- login-admin ADD시 관리자 로그인 화면 추가 -->
					<div class="container-tab">
						아직 내용을 전달 받지 못했음
					</div>
					<div class="container-tab on">
						<div class="control-admin chk_agr if-admin">
							<input type="checkbox" id="c2" name="cc" /><label for="c2"><span></span>전체선택</label> <a href="#none" role="button" class="remove">선택삭제</a>
							<a class="btn-str fr">관련기사 등록</a>	
						</div>
						<div class="wrap-list">
							<div class="items">								
								<div class="wrap-news">									
									<div class="photo-thumb">										
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c3" name="cc" /><label for="c3"><span></span></label>
										</div> 
										<img src="/images/common/default.png" alt="" />
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>								
							</div>
							<div class="items">								
								<div class="wrap-news">									
									<div class="photo-thumb">										
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c4" name="cc" /><label for="c4"><span></span></label>
										</div> 
										<img src="/images/common/default.png" alt="" />
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>								
							</div>
							<div class="items">
								<div class="wrap-news">
									<div class="photo-thumb">
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c5" name="cc" /><label for="c5"><span></span></label>
										</div> 
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>
							</div>
							<div class="items">								
								<div class="wrap-news">									
									<div class="photo-thumb">										
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c7" name="cc" /><label for="c7"><span></span></label>
										</div> 
										<img src="/images/common/default.png" alt="" />
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>								
							</div>
							<div class="wrap-spin">
								<div class="spin"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>		
		<script>
		$('.wrap-list').masonry({
			itemSelector: '.items',
			gutter: 20,
		});
		</script>
	</body>
</html>
