<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="/js/libs/jquery-3.3.1.min.js"></script>
		<script src="/js/common/common.js"></script>
		<script src="/js/libs//masonry.pkgd.min.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">정보사항</h3>
				</div>
				<div class="section-tab">
					<div class="wrap-tab">	
						<div class="tab on"><a href="">사용방법</a></div>
						<div class="tab "><a href="">관련기사</a></div>
					</div>
				</div>
				<div class="content page-content login-admin"><!-- login-admin ADD시 관리자 로그인 화면 추가 -->
					<div class="container-tab on">
						
						<div class="control-admin chk_agr if-admin">
							<input type="checkbox" id="c4" name="cc" /><label for="c4"><span></span>전체선택</label> <a href="#none" role="button" class="remove">선택삭제</a>
							<a class="btn-str fr">사용방법 등록</a>	
						</div>
						<div class="wrap-sort">
							<a href="#" class="on">전체</a>
							<a href="#">분류1</a>
							<a href="#">분류2</a>
							<a href="#">분류3</a>
						</div>
						<!-- 정보사항 리스트// -->
						<table cellspacing="0" border="1" summary="" class="tbl-type">
						<caption>정보사항</caption>
						<thead>
						<tr>
						<th scope="col">분류</th>
						<th scope="col">제목</th>
						</tr>
						</thead>
						<tbody>
						<tr>						
						<td class="tbl-wid-120">계정/내정보</td>
						<td class="title"><div class="tbl-headcopy tbl-wid-580">계정신청 방법</div></td>
						</tr>
						<tr>
						<td>정보사항</td>
						<td class="title"><div class="tbl-headcopy tbl-wid-580">포털 홈페이지 오픈</div></td>
						</tr>
						<tr>
						<td>정보사항</td>
						<td class="title"><div class="tbl-headcopy tbl-wid-580">포털 홈페이지 오픈</div></td>
						</tr>
						</tbody>
						</table><!-- //정보사항 리스트 -->
						<div class="paginate">
							<a href="#" class="pre-end"><span class="blind">맨앞</span></a>
							<a href="#" class="pre"><span class="blind">이전</span></a>
							<a href="#">1</a>
							<strong>12</strong>
							<a href="#">13</a>
							<a href="#">14</a>
							<a href="#">15</a>
							<a href="#">16</a>
							<a href="#">17</a>
							<a href="#">18</a>
							<a href="#">19</a>
							<a href="#">20</a>
							<a href="#" class="next"><span class="blind">다음</span></a>
							<a href="#" class="next-end"><span class="blind">맨뒤</span></a>
						</div>

						<table cellspacing="0" border="1" summary="글 내용을 표시" class="tbl-type tbl-view">
						<caption>정보사항 상세</caption>
						<colgroup>
						<col width="80"><col width="*">
						</colgroup>
						<thead>
						<tr>
						<th scope="row">제목</th>
						<td class="tit">포털 홈페이지 오픈</div></td>
						</tr>
						</thead>
						<tbody>
						<tr>
						<th scope="row">분류</th>
						<td> 정보사항</td>
						</tr>
						<tr>
						<td colspan="2" class="cont">
							안녕하세요. 티핑인사이트(TippingInsight)입니다.<br /><br />
							저희 티핑인사이트 포털 홈페이지를 정식으로 오픈 했습니다.<br /><br />
							많은 관심과 부탁 드립니다.<br /><br />
							감사합니다.
						</td>
						</tr>
						</tbody>
						</table><!-- //정보사항 상세 -->
						<div class="wrap-btn">
							<a href="#" class="btn-basic">목록으로</a>
							<a href="#" class="btn-basic" role="button">수정하기</a>
							<a href="#" class="btn-basic remove" role="button">삭제하기</a>
						</div>

					</div>
					<div class="container-tab">
						<div class="control-admin chk_agr if-admin">
							<input type="checkbox" id="c2" name="cc" /><label for="c2"><span></span>전체선택</label> <a href="#none" role="button" class="remove">선택삭제</a>
							<a class="btn-str fr">관련기사 등록</a>	
						</div>
						<div class="wrap-list">
							<div class="items">								
								<div class="wrap-news">									
									<div class="photo-thumb">										
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c3" name="cc" /><label for="c3"><span></span></label>
										</div> 
										<img src="/images/common/default.png" alt="" />
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>								
							</div>
							<div class="items">								
								<div class="wrap-news">									
									<div class="photo-thumb">										
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c4" name="cc" /><label for="c4"><span></span></label>
										</div> 
										<img src="/images/common/default.png" alt="" />
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>								
							</div>
							<div class="items">
								<div class="wrap-news">
									<div class="photo-thumb">
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c5" name="cc" /><label for="c5"><span></span></label>
										</div> 
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>
							</div>
							<div class="items">								
								<div class="wrap-news">									
									<div class="photo-thumb">										
										<div class="select-news chk_agr if-admin">
											<input type="checkbox" id="c7" name="cc" /><label for="c7"><span></span></label>
										</div> 
										<img src="/images/common/default.png" alt="" />
									</div>
									<div class="panel-news">
										<div class="news-group">티핑인사이트<span class="date">2019. 03. 23</span></div>
										<h6 class="news-headline">[이영작의 신약이야기] “빅데이터로 분석한 알츠하이머 치매 의료시장”</h6>
										<p class="news-info">부비동염수술과 천식사이의 관련성에 대한. 고찰과 분석을 위한 방법론. 서울대 위한 방법론. 서울대</p>
									</div>
								</div>								
							</div>
							<script>
							$('.wrap-list').masonry({
								itemSelector: '.items',
								gutter: 20,
							});
							</script>
							<div class="wrap-spin">
								<div class="spin"></div>
							</div>

							<table cellspacing="0" border="1" summary="글 내용을 표시" class="tbl-type tbl-view">
								<caption>공지사항 상세</caption>
								<colgroup>
								<col width="80"><col width="120"><col width="220">
								<col width="80"><col width="120"><col width="220">
								</colgroup>
								<thead>
								<tr>
								<th scope="row">제목</th>
								<td colspan="5" class="tit"><div class="tbl-headcopy tbl-wid-860"><strong class="import">공지</strong>포털 홈페이지 오픈</div></td>
								</tr>
								</thead>
								<tbody>
								<tr>
								<th scope="row">분류</th>
								<td colspan="2">공지사항</td>
								<th scope="row">일시</th>
								<td colspan="2">2019. 03. 24<div class="ib-admin count"><strong>조회수</strong>1,456</div></td>
								</tr>
								<tr>
								<td colspan="6" class="cont">
									안녕하세요. 티핑인사이트(TippingInsight)입니다.<br /><br />
									저희 티핑인사이트 포털 홈페이지를 정식으로 오픈 했습니다.<br /><br />
									많은 관심과 부탁 드립니다.<br /><br />
									감사합니다.
								</td>
								</tr>
								<tr>
								<th scope="row">이전글</th>
								<td colspan="5"><div class="tbl-headcopy tbl-wid-740">이전글이 없습니다.</div></td>
								</tr>
								<tr class="next">
								<th scope="row">다음글</th>
								<td>공지사항</td>
								<td colspan="4"><div class="tbl-headcopy tbl-wid-740">성분별 지역별 빅데이터 추가</div></td>
								</tr>
								</tbody>
								</table><!-- //공지사항 상세 -->
								<div class="wrap-btn">
									<a href="#" class="btn-basic">목록으로</a>
									<a href="#" class="btn-basic" role="button">수정하기</a>
									<a href="#" class="btn-basic remove" role="button">삭제하기</a>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>		
	</body>
</html>
