<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="/js/common/common.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#none">TIPin</a></li>
						<li><a href="#none">정보사항</a></li>
						<li><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="section-headline">
					<h3 class="container-headline">계정신청</h3>
				</div>
				<div class="content page-content">
					<h4 class="content-hedline">계정 정보 입력</h4>
					<!-- tbl-form//  -->
					<div class="tbl-form">
						<form action="" method="post">
						<fieldset>
							<legend>Legend</legend>
							<table cellspacing="0" summary="표의 요약을 반드시 넣어 주세요">
							<col width="220">
							<col width="*">
							<tbody>
							<tr class="row_disabled">
								<th scope="row">
									<label for="">고객사</label>
								</th>
								<th>
									<div class="item">
										<input type="text" value ="티핑제약" class="form-text" disabled>
									</div>
								</th>
							</tr>
							<tr class="row_disabled">
								<th scope="row"><label for="uid">아이디</label></th>
								<td>
									<div class="item">
										<input name="" type="text" value="jjley" id="uid" class="form-text" disabled>  
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="upw">비밀번호</label></th>
								<td>
									<div class="item">
										<a href="#none" class="layerpopup-button pw-modify">비밀번호 변경</a>
										<!-- section-layer -->
										<div class="section-layer">
											<div class="content-layer">
												<h5 class="content-hedline">비밀번호 변경</h5>
												<a href="#none" class="close-button"><span class="blind">팝업 닫기</span></a>
												<div class="tbl-form">
													<form action="" method="post">
													<fieldset>
														<legend>Legend</legend>
														<table cellspacing="0" summary="표의 요약을 반드시 넣어 주세요">
														<col width="220">
														<col width="*">
														<tbody>
														<tr>
															<th scope="row"><label for="uid">현재 비밀번호</label></th>
															<td>
																<div class="item">
																	<input name="" type="text" value="" id="uid" class="form-text" placeholder="현재 비밀번호를 입력하세요.">
																</div>
															</td>
														</tr>
														<tr>
															<th scope="row"><label for="uid">신규 비밀번호</label></th>
															<td>
																<div class="item">
																	<input name="" type="text" value="" id="uid" class="form-text" placeholder="새로운 비밀번호를 입력하세요.">
																</div>
															</td>
														</tr>
														<tr>
															<th scope="row"><label for="uid">신규 비밀번호 확인</label></th>
															<td>
																<div class="item">
																	<input name="" type="text" value="" id="uid" class="form-text" placeholder="새로운 비밀번호를 한번 더 입력하세요.">
																</div>
															</td>
														</tr>
														</tbody>
														</table>
													</fieldset>
													</form>
												</div>
											</div>
										</div><!-- //section-layer -->
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="uname">사용자 이름</label></th>
								<td>
									<div class="item">
										<input name="" type="text" value="정나영" id="uname" class="form-text" placeholder="이름을 입력하세요.""> 
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="ucp">부서</label></th>
								<td>
									<div class="item">
										<input name="" type="text" value="디자인팀" id="ucp" class="form-text" placeholder="부서명을 입력하세요.""> 
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="unum">연락처</label></th>
								<td>
									<div class="item">
										<input name="" type="text" value="01012345678" id="unum" class="form-text" placeholder="- 없이 번호만 입력하세요.""> 
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="uem">이메일</label></th>
								<td>
									<div class="item">
										<input name="" type="text" value="jly9518@gmail.com" id="uem" class="form-text" placeholder="이메일을 입력하세요.""> 
									</div>
								</td>
							</tr>
							</tbody>
							</table>
						</fieldset>
						</form>

						<div class="section-button">
							<a href="#none" class="btn-account btn-cencle"><span>취소</span></a>
							<button name="" type="submit" class="btn-account btn-main"><span>수정하기</span></button>
						</div>
					</div><!-- tbl-form//  -->
				</div>
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<div class="footer-content">
					<h6 class="footer-logo"><p class="sub-copyright">@Tippinginsight</p></h6>
					<ul class="footer-info">
						<li><span class="text">Email : info@tippinginsight.co.kr</span></li>
						<li><span class="text">Call : 02 - 6956 - 9008</span></li>
					</ul>
				</div>
			</div>
			<!-- //footer -->
		</div>		
	</body>
</html>
