<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tiping</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="/js/common/common.js"></script>
	</head>
	<body>
		<div id="wrap" class="page-default gnb-block">
			<!-- header -->
			<div id="header">
				<h1><a href="#none" class="logo"><span class="blind">TippingInsight</span></a></h1>
				<nav>
					<ul class="gnb" class="">
						<li class="on"><a href="#none">TIPin</a></li>
						<li class="on"><a href="#none">정보사항</a></li>
						<li class="on"><a href="#none">고객센터</a></li>
					</ul>
				</nav>
				<a class="gnb-other btn-account"><span>계정신청</span></a>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container" class="spotfire_ifr">
				<div class="section-spotfire">	
					<iframe src="" frameborder="0"></iframe>
				</div>
			</div>
			<!-- //container -->
		</div>		
	</body>
<script>
$('.detail-tipin').masonry({
  itemSelector: '.items',
  gutter: 20,
});
</script>
</html>
