@charset "utf-8"; 
/* UI Object */
.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}
html {overflow-x: hidden;}
html,body {height:100%;}
#wrap{width:100%;height:100%;margin:0 auto;_text-align:left;}
#header{overflow:hidden; position:fixed; width:100%; min-width:1080px; height:80px; color:#fff; z-index: 1;;}
#header::after {content:'';clear:both;display:block;position:relative; top:-1px; border-bottom:1px solid #fff; opacity:.2;}
#container{width:100%;display:block;}
#container .page-content,
#container::after{content:'';display:block;clear:both;}
#container .content {position: relative;}
#container .page-content {width:940px; margin:auto;}
#footer{position:relative; width:100%; font-size: 12px;}

#header a {color:#fff; cursor: pointer}
#header h1 {float:left; width:270px; height:80px; color:#fff;}
#header h1 .logo {display: inline-block; width:100%; height:80px; background: url(/images/common/logo.png) no-repeat 50% 50%; background-size: 190px 24px; }
#header .gnb {float:left; }
#header .gnb li {float:left;}
#header .gnb li a {padding:0 30px; font-size:16px; line-height: 80px;  }
#header .gnb-other {float:right; }
#header .btn-account {display: inline-block;width:100px; height:40px; margin:20px 40px; border:1px solid #d9d9d9; font-size:13px; text-align: center; line-height: 40px;}
#header.change {background-color: #fff;}
#header.change::after {border-color: #111517;}
#header.change a {color: #111517}
#header.change h1 .logo {background-image: url(/images/common/logo_change.png); }
#header.change .btn-account {border-color: #111517;}
#footer .footer-content {width:940px; margin:auto; padding:60px 0; } 
#footer .footer-content .footer-logo {height:23px; background: url(/images/common/footer_logo.png) no-repeat left top; font-weight: normal;}
#footer .footer-content .sub-copyright {font-size:13px; float: right}
#footer .footer-content .footer-info {margin-top:15px;}
#footer .footer-content .footer-info .text {font-size:13px; line-height: 140%;}
.page-default #footer {margin-top:80px; background-color: #f8f8f8;}
.page-default #footer::before {content:"";display:inline-block;position:absolute; left:0; top:0; width:100%; height:1px ; background-color: rgba(0, 0, 0, 0.07);} 
.page-default .page-content>.content-hedline {font-size: 18px;color: rgb(17, 21, 23);font-weight: 300;margin: 60px 0px 20px;}
.form-text::placeholder {color:#111517;font-size:13px;border-collapse: collapse;}
.form-text {padding:18px 20px;height: 56px;border: 1px solid #d9d9d9;}
.layer-login .section-login .btn-login {width:100%; background-color:#ff3f00; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.layer-login .section-login .btn-account {display:inline-block; width:100%; background-color:#000; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.btn-main {width:100%; background-color:#ff3f00; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.btn-default {display:inline-block; width:100%; background-color:#000; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.section-headline {width:100%; height:210px; background: url(/images/common/sub_bg.png) no-repeat center top;}
.container-headline {width:940px; margin:auto; padding-top:118px; font-size:36px; color:#fff; font-weight: 300;}
.content-headline {margin:60px 0 20px; font-size:18px; color:#111517; font-weight: 300;}

input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {display:inline-block;line-height: 24px;}
input[type="checkbox"] + label span {display:inline-block;width:24px;height:24px;margin:0 8px 0 0;vertical-align:middle;background:url(/images/common/inp_check.png) left top no-repeat;cursor:pointer;}
input[type="checkbox"]:checked + label span {background:url(/images/common/inp_check.png) -24px top no-repeat;}

.tbl-form  {}
.tbl-form table {width:100%; border:1px solid #e5e5e5; font-size:13px; word-break: keep-all;}
.tbl-form table tbody {}
.tbl-form table tr {border-bottom:1px solid #e5e5e5}
.tbl-form table .row_disabled {background-color:#f7f7f7; font-weight: normal;}
.tbl-form table td {}
.tbl-form table th {font-weight: normal; text-align:left;}
.tbl-form table .item {padding:18px 20px; text-align: left;}
.tbl-form table label {padding:18px 20px;}
.tbl-form table .form-text {height:20px; padding:0; border:0; color: rgba(17, 21, 23, 0.3); line-height: 25px; }
.tbl-form table .form-text:disabled {border:0; background: transparent; color:#111517;}
.tbl-form table .form-text::placeholder {color: rgba(17, 21, 23, 0.3);}
.tbl-form table .alt-text {display:none; font-size:13px;}
.tbl-form table .alt-text.on {display:block;}
.alt-text {display: block; margin-top:8px; color:#ff3f00; font-size: 13px;}

.section-agreement {margin-top:40px;}
.section-agreement .chk_agr {}

.content-agreement {overflow-y:auto; height:180px; margin:20px 0; padding:20px; border:1px solid #e5e5e5; font-size:13px;}
.content-agreement strong {display:block; margin:15px 0;}
.content-agreement p {display:inline-block; margin-bottom:15px;}

.section-button {margin:40px; text-align: center;}
.btn-account {display:inline-block; width:140px; font-size:16px; line-height: 44px; margin:0 4px; border: solid 1px rgba(0, 0, 0, 0.2); border-collapse: collapse;}
.btn-cencle {background-color: #fff;line-height: 46px; }

.pw-modify {color:#007694; border-bottom: 1px solid #007694;}

.layerpopup-button {}

.wrap-layer {display:none;}
.wrap-layer.on {display:block;}
.section-layer {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); padding:20px 40px; background-color:#fff; z-index:999;}
.pw-modify {}
.section-layer .close-button { position: absolute;right: 25px;top: 25px;width: 25px;height: 25px;opacity: 0.3;}
.section-layer .close-button:hover {opacity: 1;}
.section-layer .close-button::before, .section-layer .close-button:after {position: absolute;left: 15px;content: ' ';height: 25px;width: 2px;background-color: #333;}
.section-layer .close-button::before {transform: rotate(45deg);}
.section-layer .close-button::after {transform: rotate(-45deg);}
.section-layer .content-layer {width:880px;}
.section-layer .content-headline {margin:40px 0 20px; font-size:18px; }
.dim-layer {position: fixed;left:0;right:0;top:0;bottom:0; width:100%; height:100%; background-color:#000; opacity: .2;}

.nav {position:absolute; left:0; top:0; width:220px; }
.nav .content-headline {margin:0; padding:60px 0 10px; border-bottom: 2px solid #000; line-height:30px; }
.nav .sub-headline {margin-top:20px; font-size:14px; font-weight: bold; line-height: 24px; }
.nav .wrap-menu {margin-top:8px;}
.nav .wrap-menu .menu {position:relative; margin-top:10px; padding-left:35px; font-size:12px;  line-height: 24px; }
.nav .wrap-menu .menu a::before {content:''; display:inline-block; position: absolute;left:0; top:0; width:24px; height:24px; background:url(/images/common/icon_folder_off.png) left top no-repeat;}
.nav .wrap-menu .menu.on {color:#ff3f00; font-weight: bold;}
.nav .wrap-menu .menu.on a::before {background-image:url(/images/common/icon_folder_on.png)}

.article .wrap-scrum  {margin:0; padding:60px 0 10px; border-bottom: 2px solid #000; line-height:30px; }
.article {min-height:400px; margin-left:240px; width:700px;}
.article .wrap-scrum::after{content:'';display:block;clear:both;} 
.article .wrap-scrum a {display: inline-block; float:left; }
.article .wrap-scrum a::before {content:'>'; color: #000; font-weight: normal; padding:0 6px;}
.article .wrap-scrum a:first-child::before {display: none;}
.article .wrap-scrum a.on {color:#ff3f00; font-weight: bold;}
.section-analysis {}
.wrap-analysis {padding-top:20px;}
.wrap-analysis::after {content:""; display: block; clear: both;}
.wrap-analysis.depth-tipin {}
.wrap-analysis.depth-tipin .items {position:relative; float:left; width: 160px;height: 160px; margin-right:20px; margin-bottom:50px; }
.wrap-analysis.depth-tipin .items a {display: inline-block;width: 100%; height: 100%;}
.wrap-analysis.depth-tipin .items:nth-child(4n) {margin-right: 0;}
.wrap-analysis.depth-tipin .items strong {display:inline-block; position: absolute;left:0; bottom:-31px; width: 100%; font-size: 13px; text-align: center; }
.wrap-analysis.depth-tipin .items strong:after {content: ""; position: absolute;left:0; top:-174px; display: inline-block; width: 160px;height: 160px; background:url(/images/common/icon_folder_big.png) 50% 50% no-repeat; background-size: 72px; border-radius: 2px;border:1px solid #d9d9d9 ;}
.wrap-analysis.depth-tipin .items.active strong:after {border:1px solid #111517; background-color: rgba(17, 21, 23, .03);}