@charset "utf-8"; 
/* UI Object */
.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}
html {overflow-x: hidden;}
html,body {height:100%;}
#wrap{width:100%;height:100%;margin:0 auto;_text-align:left;}
#header{overflow:hidden; position:fixed;top:0; width:100%; min-width:1080px; height:80px; color:#fff; z-index: 99;}
#header::after {content:"";clear:both;display:block;position:relative; top:-1px; border-bottom:1px solid #bbb; opacity:.2;}
#container{width:100%;display:block;}
#container::after{content:"";display:block;clear:both;}
#container .content {position: relative;}
#container .page-content {width:940px; margin:auto;}
#footer{position:relative; width:100%; font-size: 12px;}
#header a {color:#fff; cursor: pointer}
#header h1 {float:left; width:270px; height:80px; color:#fff;}
#header h1 .logo {display: inline-block; width:100%; height:80px; background: url(/images/common/logo.png) no-repeat 50% 50%; background-size: 190px 24px; }
#header .gnb {float:left; }
#header .gnb li {float:left; padding:0 30px;}
#header .gnb li.on a:before {content:""; left:0px; bottom:0; position:absolute;width:100%;  display:block; border-bottom:1px solid #ff3f00; }
#header .gnb li a {display:inline-block; position: relative;font-size:16px; line-height: 80px;  }
#header .gnb-other {float:right; }
#header .btn-account {display: inline-block;width:100px; height:40px; margin:20px 40px; border:1px solid #d9d9d9; font-size:13px; text-align: center; line-height: 40px;}
.gnb-block #header,#header.change {background-color: #fff;}
.gnb-block #header::after,#header.change::after {border-color: #111517;}
.gnb-block #header a,#header.change a {color: #111517}
.gnb-block #header h1 .logo,#header.change h1 .logo {background-image: url(/images/common/logo_change.png); }
.gnb-block #header .btn-account ,#header.change .btn-account {border-color: #111517;}
#footer .footer-content {width:940px; margin:auto; padding:60px 0; } 
#footer .footer-content .footer-logo {height:23px; background: url(/images/common/footer_logo.png) no-repeat left top; font-weight: normal;}
#footer .footer-content .sub-copyright {font-size:13px; float: right}
#footer .footer-content .footer-info {margin-top:15px;}
#footer .footer-content .footer-info .text {font-size:13px; line-height: 140%;}
.page-default #footer {margin-top:80px; background-color: #f8f8f8;}
.page-default #footer::before {content:"";display:inline-block;position:absolute; left:0; top:0; width:100%; height:1px ; background-color: rgba(0, 0, 0, 0.07);} 
.page-default .page-content .container-tab>.content-hedline,
.page-default .page-content>.content-hedline {font-size: 18px;color: rgb(17, 21, 23);font-weight: 300;margin: 60px 0px 20px;}
.form-text::placeholder {color:#111517;font-size:13px;border-collapse: collapse;}
.form-text {padding:18px 20px;height: 56px;border: 1px solid #d9d9d9;}
.layer-login .section-login .btn-login {width:100%; background-color:#ff3f00; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.layer-login .section-login .btn-account {display:inline-block; width:100%; background-color:#000; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.wrap-btn {margin:40px 0 20px; text-align: center; }
.btn-main {width:100%; background-color:#ff3f00; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.btn-default {display:inline-block; width:100%; background-color:#000; text-align: center; color:#fff; font-size:18px; line-height: 56px;}
.btn-basic {display:inline-block; width:140px; height: 48px; margin:0 5px; line-height: 48px; font-size:16px; border:solid 1px rgba(0, 0, 0, 0.1); text-align: center;}
.btn-basic.remove {color:#ff3f00;}
.btn-str {display:inline-block; padding:0 20px;border: solid 1px #007694;line-height: 40px; font-size:14px;  color: #007694; }
.fr {float: right;}
.fr::after {content: ""; display:block; clear: both; width:100%;}
.section-headline {width:100%; height:210px; background: url(/images/common/sub_bg.png) no-repeat center top;}
.container-headline {width:940px; margin:auto; padding-top:118px; font-size:36px; color:#fff; font-weight: 300;}
.content-headline {margin:60px 0 20px; font-size:18px; color:#111517; font-weight: 300;}
.headline {margin-bottom:20px; font-size:18px; font-weight: normal}
textarea {width:100%; height:440px; border:0; }
textarea::placeholder {color:  rgba(17, 21, 23, 0.3); }
select {width:100%; -webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(/images/common/icon_open.png) no-repeat 99% 50%; border:0; }
select::-ms-expand {display: none;}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {display:inline-block;line-height: 24px;}
input[type="checkbox"] + label span {display:inline-block;width:24px;height:24px;margin:0 8px 0 0;vertical-align:middle;background:url(/images/common/inp_check.png) left top no-repeat;cursor:pointer;}
input[type="checkbox"]:checked + label span {background:url(/images/common/inp_check.png) -24px top no-repeat;}
input[type="file"]::placeholder {color:  rgba(17, 21, 23, 0.3); }
.tbl-form  {}
.tbl-form table {width:100%; border:1px solid #e5e5e5; font-size:13px; word-break: keep-all;}
.tbl-form table tbody {}
.tbl-form table tr {border-bottom:1px solid #e5e5e5}
.tbl-form table .row_disabled {background-color:#f7f7f7; font-weight: normal;}
.tbl-form table td {}
.tbl-form table th {font-weight: normal; text-align:left;}
.tbl-form table .item {position: relative; padding:18px 20px; text-align: left;}
.tbl-form table label {padding:18px 20px;}
.tbl-form table .form-text {height:20px; padding:0; border:0; color: rgba(17, 21, 23, 0.3); line-height: 25px; }
.tbl-form table .form-text:disabled {border:0; background: transparent; color:#111517;}
.tbl-form table .form-text::placeholder {color: rgba(17, 21, 23, 0.3);}
.tbl-form table .alt-text {display:none; font-size:13px;}
.tbl-form table .alt-text.on {display:block;}
.btn-modify {display: inline-block; width:120px; line-height: 30px; box-sizing: border-box; border:1px solid rgba(17, 21, 23, 0.1); text-align: center;}
.alt-text {display: block; margin-top:8px; color:#ff3f00; font-size: 13px;}

.section-agreement {margin-top:40px;}
.section-agreement .chk_agr {}
.content-agreement {overflow-y:auto; height:180px; margin:20px 0; padding:20px; border:1px solid #e5e5e5; font-size:13px;}
.content-agreement strong {display:block; margin:15px 0;}
.content-agreement p {display:inline-block; margin-bottom:15px;}
.section-button {margin:40px; text-align: center;}
.btn-account {display:inline-block; width:140px; font-size:16px; line-height: 44px; margin:0 4px; border: solid 1px rgba(0, 0, 0, 0.2); border-collapse: collapse;}
.btn-cencle {background-color: #fff;line-height: 46px; }
.pw-modify {color:#007694; border-bottom: 1px solid #007694;}
.layerpopup-button {}

.wrap-layer {display:none;}
.wrap-layer.on {display:block;}
.section-layer {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); padding:20px 40px; background-color:#fff; z-index:999;}
.pw-modify {}
.section-layer .close-button { position: absolute;right: 25px;top: 25px;width: 25px;height: 25px;opacity: 0.3;}
.section-layer .close-button:hover {opacity: 1;}
.section-layer .close-button::before, .section-layer .close-button:after {position: absolute;left: 15px;content: ' ';height: 25px;width: 2px;background-color: #333;}
.section-layer .close-button::before {transform: rotate(45deg);}
.section-layer .close-button::after {transform: rotate(-45deg);}
.section-layer .content-layer {width:880px;}
.section-layer .content-layer .content-hedline {margin:40px 0 20px; font-size:18px; }
.section-layer .content-layer .form-text {width:220px;}
.section-layer .content-headline {margin:40px 0 20px; font-size:18px; }
.dim-layer {position: fixed;left:0;right:0;top:0;bottom:0; width:100%; height:100%; background-color:#000; opacity: .2; z-index: 100;}

.nav {position:absolute; left:0; top:0; width:220px; }
.nav .content-headline {margin:0; padding:60px 0 10px; border-bottom: 2px solid #000; line-height:30px; }
.nav .sub-headline {margin-top:20px; font-size:14px; font-weight: bold; line-height: 24px; }
.nav .wrap-menu {margin-top:8px;}
.nav .wrap-menu .menu {position:relative; margin-top:10px; padding-left:35px; font-size:12px;  line-height: 24px; }
.nav .wrap-menu .menu a::before {content:""; display:inline-block; position: absolute;left:0; top:0; width:24px; height:24px; background:url(/images/common/icon_folder_off.png) left top no-repeat;}
.nav .wrap-menu .menu.on {color:#ff3f00; font-weight: bold;}
.nav .wrap-menu .menu.on a::before {background-image:url(/images/common/icon_folder_on.png)}

.article .wrap-scrum  {margin:0; padding:60px 0 10px; border-bottom: 2px solid #000; line-height:30px; }
.article {min-height:400px; margin-left:240px; width:700px;}
.article .wrap-scrum::after{content:"";display:block;clear:both;} 
.article .wrap-scrum a {display: inline-block; float:left; }
.article .wrap-scrum a::before {content:'>'; color: #000; font-weight: normal; padding:0 6px;}
.article .wrap-scrum a:first-child::before {display: none;}
.article .wrap-scrum a.on {color:#ff3f00; font-weight: bold;}
.section-analysis {}
.wrap-analysis {padding-top:20px;}
.wrap-analysis::after {content:""; display: block; clear: both;}
.wrap-analysis.depth-tipin {}
.wrap-analysis.depth-tipin .items {position:relative; float:left; width: 160px;height: 160px; margin-right:20px; margin-bottom:50px; }
.wrap-analysis.depth-tipin .items a {display: inline-block;width: 100%; height: 100%;}
.wrap-analysis.depth-tipin .items:nth-child(4n) {margin-right: 0;}
.wrap-analysis.depth-tipin .items strong {display:inline-block; position: absolute;left:0; bottom:-31px; width: 100%; font-size: 13px; text-align: center; }
.wrap-analysis.depth-tipin .items strong:after {content: ""; position: absolute;left:0; top:-174px; display: inline-block; width: 160px;height: 160px; background:url(/images/common/icon_folder_big.png) 50% 50% no-repeat; background-size: 72px; border-radius: 2px;border:1px solid #d9d9d9 ;}
.wrap-analysis.depth-tipin .items.active strong:after {border:1px solid #111517; background-color: rgba(17, 21, 23, .03);}
.wrap-analysis.detail-tipin {}
.wrap-analysis.detail-tipin .items {position:relative; float:left; width: 220px; margin-bottom:20px; border:1px solid #d9d9d9 ; border-collapse: collapse;}
.wrap-analysis.detail-tipin .content-analysis {padding:25px;}
.wrap-analysis.detail-tipin .photo-thumb {width:170px; height: 170px;}
.wrap-analysis.detail-tipin .photo-thumb img {width:100%;}
.wrap-analysis.detail-tipin .prd-headline {display: -webkit-box;overflow: hidden;margin-top:14px; color: #007694;font-size: 14px; line-height:144%; font-weight:normal; white-space: normal;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;}
.wrap-analysis.detail-tipin .prd-info {font-size:12px; color: rgba(17, 21, 23, 0.5); margin-top:10px; }
.wrap-analysis.detail-tipin .prd-date {font-size:12px; color: rgba(17, 21, 23, 0.3); margin-top:15px; }
.section-spotfire {width:100%; min-height:600px; background-color: #f1f1f1}

.section-tab {background-color: #111517; }
.section-tab .wrap-tab {display: flex;width:940px; margin: auto; }
.section-tab .wrap-tab .tab {flex:1; background-color: #1d2123; line-height: 56px; text-align: center; font-size: 16px;}
.section-tab .wrap-tab .tab.on {background-color: #fff; color:#111517}
.section-tab .wrap-tab .tab a {display: inline-block; width: 100%; height: 100%; color:#fff;  }
.section-tab .wrap-tab .tab.on a {color:#111517;  }

.container-tab {display: none; margin-top:60px; }
.container-tab.on {display: block}
.wrap-list {padding-bottom: 50px; }
.wrap-list .items {float:left; width: 300px; margin-bottom:20px; padding:0 20px 20px; border:1px solid #d9d9d9 ; border-collapse: collapse;}
.wrap-list .items .wrap-news {position: relative; padding-bottom:100px;}
.wrap-list .items .photo-thumb {margin:0 -20px; padding-top: 62px;}
.wrap-list .items .photo-thumb img {width:100%; margin-top:-62px;}
.wrap-list .items .panel-news {position:absolute; bottom:0; width:260px; height:142px; padding:13px;  background-color:#fff; }
.wrap-list .items .panel-news .news-group {font-size:11px; color:#007694; }
.wrap-list .items .panel-news .news-group .date {color: rgba(17, 21, 23, 0.3);}
.wrap-list .items .panel-news .news-group .date::before {content:""; display:inline-block; margin:0 11px;width:1px; height:8px; background-color: #d9d9d9;}
.wrap-list .items .panel-news .news-headline {margin-top:10px; font-size:14px; font-weight:bold; color:#000;display:inline-block; display: -webkit-box;overflow: hidden;height:40px; line-height:144%; white-space: normal;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;}
.wrap-list .items .panel-news .news-info {overflow:hidden; margin-top:15px; font-size: 12px; color: rgba(17, 21, 23, 0.5);display:inline-block;display: -webkit-box;height:35px; line-height:144%; font-weight:normal; white-space: normal;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;}

.wrap-spin {position: absolute; bottom: 0; width: 100%; }
.spin { width:24px; height:24px; margin: auto;background:url(/images/common/icon_loading.png) left top no-repeat; -webkit-animation-name: spin;-webkit-animation-duration: 1.5s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}

@-webkit-keyframes spin {
  from   {  -webkit-transform: rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg); }
}

/* 공지사항 LISR */
.tbl-type,.tbl-type th,.tbl-type td{border:0;text-align:left;}
.tbl-type{width:100%;border-top:2px solid #000; border-bottom:1px solid #ddd;color:#111517; font-size: 12px; }
.tbl-type caption{display:none}
.tbl-type th thead {}
.tbl-type th {height:42px; border-top:1px solid #ddd; background-color:#f7f7f7;font-size:12px;font-weight:normal;}
.tbl-type td {height:56px; border-top:1px solid #ddd;}
.tbl-type .import {display:inline-block; width: 48px;border-radius: 2px;background-color: #ff3f00; line-height: 24px; text-align:center; color:#fff; font-weight: bold;}
.tbl-type .num {font-size: 12px; color: #344597; }
.tbl-type .title {font-size: 14px; font-weight: bold;}
.tbl-type .tbl-headcopy {padding-right: 30px; text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden; }
.tbl-type .date {font-size:12px; color:rgba(17, 21, 23, 0.3);}
.tbl-type .count {font-size:12px; color:rgba(17, 21, 23, 0.3);}
.tbl-type .answer {display:none; background-color:#f7f7f7; font-size:14px; }
.tbl-type .answer .btn-str {margin-top: 20px}
.tbl-type .answer.on {display:table-row;}
.tbl-type .answer td {padding: 40px; }
.tbl-type .wrap-ip {padding: 12px 0;}
.tbl-type .wrap-ip p {padding-bottom: 4px}
.tbl-type .wrap-ip p:last-child {padding-bottom: 0px}
.tbl-wid-60 {width:60px;}
.tbl-wid-80 {width:80px;}
.tbl-wid-120 {width:120px;}
.tbl-wid-580 {width:620px;}
.tbl-wid-620 {width:620px;}
.tbl-wid-740 {width:740px;}
.tbl-wid-860 {width:860px;}

/* 공지사항 VIEW */
.tbl-view th {background-color:#fff}
.tbl-view td {color: rgba(17, 21, 23, 0.5); font-size: 14px;}
.tbl-view .tit {font-weight: bold;color:#111517;}
.tbl-view .cont {padding:40px 0; color:#111517;}
.tbl-view .import {margin-right: 8px;}
.tbl-view .next td {color:#000;}
.tbl-view .count {margin-left:120px; font-size:14px; color:rgba(17, 21, 23, 0.3);}
.tbl-view .count strong {display:inline-block; width:80px; color:#111517;font-weight:normal;}

/* FAQ */
.tbl-faq tr {position: relative; cursor: pointer;}
.tbl-faq .question .title {position: relative;}
.tbl-faq .question .title::after {content: ""; display: inline-block; position: absolute;top:50%; right:0; width: 16px;height: 16px; margin-top:-8px; background:url(/images/common/icon_open.png) 50% 50% no-repeat; background-size: 16px; }
.tbl-faq .question.on .title::after {-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}

.wrap-sort { margin-bottom:20px; padding-bottom:6px; }
.wrap-sort a {display: inline-block; margin-right: 35px;font-size: 18px; color:#111517;  vertical-align: top;}
.wrap-sort a.on {color:#007694;}
.wrap-sort a.on::after {content:""; width:100%; display:inline-block; border-bottom:2px solid #007694; }
.paginate{padding:40px 0 20px;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;width:32px; height:32px; font-size:14px; vertical-align: top; line-height:32px; text-align: center; }
.paginate strong{background-color: #111517; color: #fff; font-weight: normal; }
.paginate a:hover{opacity: .6;}
.paginate a.pre{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);background:url(/images/common/page_next.png) 50% 50% no-repeat; background-size:8px 13px ;}
.paginate a.pre-end{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);background:url(/images/common/page_end.png) 50% 50% no-repeat;  background-size:8px 13px ;}
.paginate a.next{background:url(/images/common/page_next.png) 50% 50% no-repeat;  background-size:8px 13px ;}
.paginate a.next-end{background:url(/images/common/page_end.png) 50% 50% no-repeat; background-size:8px 13px ;}

/* 문의처 정보 */
.wrap-qna-copy {}
.wrap-qna-copy .bg-headcopy {position:relative; width:100%; height:174px; background:url(/images/customer/bg_headline_copy.png) left top no-repeat; }
.wrap-qna-copy .bg-headcopy::after {content:""; display:inline-block; position: absolute;right:0; top:0; width:96px; height:96px; background:url(/images/customer/bg_symbol_copy.png) right top no-repeat;}
.wrap-qna-copy .sub-headcopy {margin-top:30px; font-size:24px; font-weight: bold;}
.wrap-qna-copy .sub-copy {margin-top:20px; font-size:16px; font-weight: normal;}
.wrap-qna-copy .box-flex {display:flex }
.wrap-qna-copy .line {border-top:2px solid #000; margin-top:60px; padding-top:20px; }
.wrap-qna-copy .bg-co-name,.wrap-qna-copy .bg-co {flex: 1;}
.wrap-qna-copy .bg-co-name strong {display:inline-block; flex: 1; width:157px; height:23px; background:url(/images/customer/bg_tippinginsight_copy.png) left top no-repeat; }
.wrap-qna-copy .bg-co-call {display:inline-block; width:100%; height:13px; background:url(/images/customer/bg_call_copy.png) left top no-repeat; }
.wrap-qna-copy .bg-co-emall {display:inline-block; width:100%;; height:16px; background:url(/images/customer/bg_email_copy.png) left top no-repeat; }
.wrap-qna-copy .box-flex .analysys , .wrap-qna-copy .box-flex .engineer {flex:1;}
.wrap-qna-copy .bg-pos-analysys {display:inline-block;width:146px; height:56px; background:url(/images/customer/bg_analysis_copy.png) left top no-repeat; }
.wrap-qna-copy .bg-pos-engineer {display:inline-block;width:250px; height:53px; background:url(/images/customer/bg_platform_copy.png) left top no-repeat; }
.wrap-qna-copy .name {display:inline-block; width:100%; margin-top:12px; font-size:14px; font-weight: bold;}
.wrap-qna-copy .info-name {margin-top:18px; font-size:12px; font-weight: normal;}
.wrap-qna-copy .info-name li {margin-top:2px;}
.wrap-qna-copy .legal {margin-top:60px; font-size:12px; font-weight: normal; color: rgbaadd, 23, 0.5);}

/*admin*/
.login-admin .control-admin {display:block; }
.control-admin {display:none; margin-bottom:40px; font-size: 14px; line-height:42px; }
.control-admin::after {content: ""; display: block; width:100%; clear: both; }
.control-admin .remove::before {content: ''; display: inline-block; width: 1px; height: 12px; margin:0 12px; background-color:rgba(17, 21, 23, 0.3); }
.login-admin .select-news {display:block;}
.login-admin .tbl-admin {display:table-cell; width:80px;}
.tbl-admin {display:none}
.login-admin .if-admin {display:block; }
.if-admin {display:none}
.login-admin .ib-admin {display:inline-block; }
.ib-admin {display:none}
.select-news {display:none; position: absolute; left:-10px; top:10px; z-index:1; }
.select-news input {vertical-align: top}

/**/
.form-write input {width:100%;}
.form-write table {border:0;}
.form-write table tr {border:0; }
.form-write table tr:first-child .item,.form-write table tr:first-child .headcopy {margin-bottom:0; border-bottom:0;}
.form-write table .headcopy {display:inline-block; width:100%; height:56px; border:1px solid #e5e5e5; border-right: 0; margin-bottom:10px; }
.form-write table .item {height:56px; border:1px solid #e5e5e5; border-left: 0; margin-bottom:10px; }

.form-write table .item.form-area {height:auto; border:1px solid #e5e5e5;}

.form-select.cp-type {width:140px; line-height:38px; padding:0 10px; border:1px solid rgba(17, 21, 23, 0.1); background-position: 115px 50%}
.tbl-type .img-thumb {display:inline-block; width:48px; height:48px; position: relative; margin:4px 0; vertical-align:middle; box-sizing: border-box;border:1px solid rgba(17, 21, 23, 0.1);}
.tbl-type .img-thumb img {width:48px; height:48px; }
.tbl-type .img-thumb.add::after {content: ""; display: inline-block; position: absolute;top:50%; left:50%; width: 24px;height: 24px; margin-top:-12px; margin-left:-12px; background:url(/images/admin/icon_add.png) 50% 50% no-repeat; background-size: 24px;}
.tbl-type .img-thumb.modify::after {content: ""; display: inline-block; position: absolute;top:50%; left:50%; width: 24px;height: 24px; margin-top:-12px; margin-left:-12px; background:url(/images/admin/icon_modify.png) 50% 50% no-repeat; background-size: 24px;}

.item .btn-rt { position: absolute; right:20px; top:50%; margin-top:-14px;  } 
.item .btn-ip {display:inline-block;width:72px;  line-height:28px; border:1px solid rgba(17, 21, 23, 0.3);text-align: center;} 
.item .icon-calendar {display:inline-block; width:28px; height:28px; position: relative; margin:4px 0; vertical-align:middle; box-sizing: border-box;border:1px solid rgba(17, 21, 23, 0.3);}
.item .icon-calendar::after {content: ""; display: inline-block; position: absolute;top:50%; left:50%; width: 24px;height: 24px; margin-top:-12px; margin-left:-12px; background:url(/images/admin/icon_calendar.png) 50% 50% no-repeat; background-size: 24px;}
.bottom-etc {margin-top:20px; font-size: 13px;}