@charset "utf-8"; 
/* UI Object */
html,body,#wrap{height:100%; overflow-x: hidden;}
#wrap{width:100%;margin:0 auto;_text-align:left;}
#header{overflow:hidden; position:fixed; width:100%; min-width:1080px; height:80px; color:#fff;}
#header::after {content:'';clear:both;display:block;position:relative; top:-1px; border-bottom:1px solid #fff; opacity:.2;}
#container{width:100%;display:block;}
#container::after{content:'';display:block;clear:both;}
#container .content {position: relative;}
#footer{width:100%; font-size: 12px;}
.page-intro #containe {height: 100%;}
.page-intro #content {height: 100%;}
.page-intro #footer {position: absolute; top:50%; margin-top:310px; text-align: center; color: #fff;}
.blind {position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1
}


#header a {color:#fff; cursor: pointer}
#header h1 {float:left; width:270px; height:80px; color:#fff;}
#header h1 .logo {display: inline-block; width:100%; height:80px; background: url(/images/logo.png) no-repeat 50% 50%; background-size: 190px 24px; }
#header .gnb {float:left; }
#header .gnb li {float:left;}
#header .gnb li a {padding:0 30px; font-size:16px; line-height: 80px;  }
#header .btn-account {float:right; display: inline-block;width:100px; height:40px; margin:20px 40px; border:1px solid #fff; font-size:13px; text-align: center; line-height: 40px;}